@use "../abstracts/variables" as v;

/* 서브페이지 */
.landing-sub {
  margin-top: 36px;
  padding-bottom: 60px;
  @include v.tablet {
    margin-top: 68px;
    padding-bottom: 100px;
  }
  // inner container
  .inner {
    padding: 0 20px;
    @include v.tablet {
      @include v.flex-column;
      width: 100%;
      padding: 0 60px;
    }
    @include v.desktop {
      width: 1200px;
      max-width: 1200px;
      padding: 0;
    }
  }
  // 서브페이지 탑 영역
  .sub-top {
    position: relative;
    width: 100%;
    @include v.flex-column-center;
    .tab-navigation {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      @include v.tablet {
        bottom: -92px;
      }
    }
  }
  // 서브페이지 컨텐츠 영역
  .sub-contents {
    width: 100%;
    padding: 0 20px;
    background: v.color(white);
    @include v.tablet {
      padding: 0 60px;
    }
    @include v.desktop {
      max-width: 1390px;
    }
  }
}

/* 반응형 */
.mb {
  display: block !important;
  @include v.tablet {
    display: none !important;
  }
}
.pc {
  display: none !important;
  @include v.tablet {
    display: block !important;
  }
}
