@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  &.simulation,
  &.sportsbook {
    background: #111417;
    color: #a8b2bd;
  }
  &.lobby {
    background: #fff;
    color: #1b1a28;
  }
}
