@use "../../scss/service/base/typography" as typography;

.info ul {
  padding: 0;
  list-style: none;
  li {
    @include typography.font-style(14px, 700, 140%, -0.28px);
    color: var(--gray500);
  }
}
.row {
  margin-right: -10px;
  margin-left: -10px;
  & + .row {
    margin-top: 20px;
  }
}
.col {
  padding-right: 10px;
  padding-left: 10px;
}
.card {
  &:not(.info) {
    padding: 28px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    background-color: var(--white);
    border: none;
  }
  &-alarm {
    padding: 11px 12px;
    background-color: #ECEFF2;
    border-radius: 10px;
    & + .btn {
      min-width: 78px;
    }
    &-empty {
      padding: 11px 0;
      background-color: var(--white);
    }
  }
  .desc {
    min-height: 40px;
    @include typography.font-style(14px, 500, 140%, -0.28px);
    color: var(--gray500);
    @include typography.multiline-ellipsis(2);
  }
}
.form-row {
  label {
    margin-bottom: 0;
  }
  input {
    width: 335px;
  }
}
.book-time.time-picker {
  width: 132px;
}
.time-text {
  padding-left: 6px;
}
.time-divider {
  padding: 0 16px;
}
.day-container {
  & + .day-container {
    margin-top: 20px;
  }
}
.table-section {
  width: calc(50% - 25px);
  padding: 0;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      margin: 0;
      @include typography.font-style(20px, 700, 140%, -0.4px);
      color: var(--gray700);
    }
    .btn {
      min-width: 88px;
    }
  }
  &-body {
    margin-top: 24px;
  }
  &-divider {
    width: 1px;
    margin: 0 24px;
    background-color: var(--gray200);
  }
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  & > .custom-checkbox {
    margin-right: 20px;
  }
  .brackets {
    &:first-child {
      padding-right: 6px;
    }
    &:last-child {
      padding-left: 6px;
    }
  }
}