@use "sass:map";

@use "../service/abstracts/variables" as *;
@use "../../scss/service/base/typography" as typography;


/* input */
.form-control  {
  width: 100%;
  height: auto;
  padding: 11px 15px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--white);
  box-shadow: none;
  @include typography.font-style(14px, 400, 140%, -0.28px);
  color: var(--gray900);
  &::placeholder {
    color: var(--gray400);
  }
  &:hover,
  &:focus {
    border-color: var(--gray500);
    box-shadow: none;
    color: var(--gray900);
  }
  &.is-invalid {
    border-color: var(--red-600);
    & + .search-icon svg path {
      fill: var(--red-600);
    }
  }
  &:disabled {
    background-color: var(--gray50);
    & + .search-icon svg path {
      fill: var(--gray400);
    }
  }
}

/* textarea */
textarea.form-control {
  min-height: 184px;
  resize: none;
}
.textarea-count {
  @include typography.font-style(14px, 500, 140%, -0.28px);
  color: var(--gray600);
}

/* checkbox */
.custom-checkbox {
  min-height: auto;
  padding-left: 22px;
  margin: 0;
  &.custom-control-inline {
    label.custom-control-label {
      line-height: 1;
    }
  }
  .custom-control-input {
    width: 16px;
    height: 16px;
    top: 2px;
    &:focus ~ .custom-control-label::before {
      box-shadow: none;
    }
    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: var(--border-color);
    }
    &:checked ~ .custom-control-label {
      &::before {
        display: none;
        background-color: transparent;
        border-color: transparent;
      }
      &::after {
        background-image: url('#{$icon}icon-check-on.svg');
        background-size: 15px;
      }
    }
  }
  label.custom-control-label {
    @include typography.font-style(14px, 400, 20px, -0.28px);
    color: var(--gray900);
    &::before {
      top: 2px;
      left: -22px;
      width: 16px;
      height: 16px;
      background-image: url('#{$icon}icon-check-off.svg');
      background-repeat: no-repeat;
      background-size: 15px;
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
    &::after {
      top: 2px;
      left: -22px;
    }
    span {
      @include typography.font-style(14px, 400, 20px, -0.28px);
      color: var(--gray900);
    }
  }
  &.b-custom-control-lg {
    padding-left: 24px;
    .custom-control-input {
      top: 0;
      width: 24px;
      height: 24px;
      &:checked ~ .custom-control-label {
        &::after {
          background-image: url('#{$icon}icon-check-lg-on.svg');
          background-size: 20px;
          background-position: 2px;
        }
      }
    }
    label.custom-control-label {
      &::before {
        top: -2px;
        left: -24px;
        width: 24px;
        height: 24px;
        background-size: 20px;
        background-image: url('#{$icon}icon-check-lg-off.svg');
        background-position: 2px 2px;
      }
      &::after {
        top: -2px;
        left: -24px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* custom-datepicker */
.service-custom-datepicker {
  & > button:first-child {
    position: absolute;
    width: 100%;
    padding: 0;
    opacity: 0;
  }
  label.form-control {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    @include typography.font-style(14px, 400, 140%, -0.28px);
    color: var(--gray900);
    word-break: auto-phrase;
    &.text-muted {
      color: var(--gray400);
    }
  }
  .dropdown-menu {
    min-width: 10rem;
    padding: 0.5rem;
    .b-calendar-header {
      display: none;
    }
    .btn {
      padding: 7px 0;
    }
    span.rounded-circle{
      width: 100%;
      font-family: Pretendard;
      @include typography.font-style(14px, 400, 140%, -0.28px);
      &:hover,
      &:active,
      &.active {
        background-color: var(--primary);
        border-color: var(--primary);
        font-family: Pretendard;
        font-weight: 400 !important;
        color: var(--white) !important;
      }
      &:focus:active {
        box-shadow: none;
      }
    }
  }
}

/* radio */
.custom-radio {
  min-height: auto;
  padding-left: 22px;
  margin: 0;
  line-height: 1;
  .custom-control-input {
    width: 16px;
    height: 16px;
    top: 2px;
    &:focus ~ .custom-control-label::before {
      box-shadow: none;
    }
    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: var(--border-color);
    }
    &:checked ~ .custom-control-label {
      &::before {
        background-color: transparent;
      }
      &::after {
        background-image: url('#{$icon}icon-radio-on.svg');
        background-size: 100%;
      }
    }
  }
  label.custom-control-label {
    padding: 4px 0;
    @include typography.font-style(14px, 400, 140%, -0.28px);
    color: var(--gray900);
    &::before {
      top: 6px;
      left: -22px;
      width: 16px;
      height: 16px;
      border-color: var(--border-color);
    }
    &::after {
      top: 6px;
      left: -22px;
    }
  }
  /* 템플릿 카드에 들어가는 라디오 버튼*/
  &-vertical {
    display: inline-block;
    padding: 0;
    .custom-control-input {
      top: initial;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      &:checked ~ .custom-control-label::after {
        top: initial;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    label.custom-control-label {
      padding: 0 0 27px 0;
      text-align: center;
      @include typography.font-style(14px, 400, 140%, -0.28px);
      color: var(--gray700);
      &::before {
        top: initial;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/* input group */
.input-group {
  margin: 0;
  .form-control {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    &:not(:first-child) {
      border-top-left-radius:8px !important;
      border-bottom-left-radius: 8px !important;
    }
  }
  .input-group-append {
    margin: 0;
  }
  &:not(.has-validation) > .input-group-append:not(:last-child) > .btn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  & > .input-group-append > .btn {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

/* 통합발송 시간 선택 form */
.book-time.time-picker {
  width: 80px;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('#{$icon}icon-caret-left.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateY(-50%) rotate(90deg);
  }
  &:has(.time-picker-overlay) {
    &::after {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  input {
    width: 100%;
    height: 100%;
    padding: 11px 32px 11px 15px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: var(--white);
    @include typography.font-style(14px, 400, 140%, -0.28px);
    color: var(--gray900);
    &::placeholder {
      color: var(--gray400);
    }
    &:hover,
    &:focus,
    &:focus-visible {
      border-color: var(--gray500);
      box-shadow: none;
      color: var(--gray900);
      outline: none;
    }
  }
  .clear-btn {
    display: none;
  }
}