@use "sass:map";
/* import reset */
@use "../service/base/typography";

/* import helpers */
@use "../service/abstracts/variables" as *;

:root {
  // colors map을 순회하여 각 색상에 대해 CSS 변수를 생성
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  // 추가적으로 필요한 변수들 수동 설정
  --border-color: #{map.get($colors, gray300)};
  --status-request: #{map.get($colors, states-green)};
  --status-waiting: #{map.get($colors, states-yellow)};
  --status-success: #{map.get($colors, states-blue)};
  --status-failure: #{map.get($colors, states-red)};

  // 폰트 설정
  --font-family-sans-serif: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-family-monospace: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: var(--#{$name});
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 12px;
  border: 1px solid var(--gray200);
  background: var(--white);
}

.list-view {
  .custom-checkbox {
    margin-left: 28px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.list-view .btn-search-condition path {
  stroke: var(--gray700);
}
.service-template-tabs .tab.active .btn-icon path {
  stroke: var(--white);
  &:last-child {
    stroke: none;
    fill: var(--white)
  }
}
.btn-add path {
  stroke: var(--gray700);
}
.btn-sample-download:hover path {
  stroke: var(--primary);
}