.tab-contents {
  padding: 20px 40px 64px;
}
#service-checkbox-group-message,
#service-checkbox-group-template {
  .custom-checkbox {
    margin-left: 28px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.btn-search-condition path {
  stroke: var(--gray700);
}
.service-template-tabs  {
  .tab {
    &.active {
      .btn-icon {
        path {
          &:first-child {
            fill: transparent;
            stroke: var(--white);
          }
          &:nth-child(2) {
            stroke: var(--white);
          }
          &:last-child {
            fill: var(--white);
          }
        }
      }
    }
    .btn-icon {
      margin-top: -2px;
      margin-left: 8px;
      padding: 0;
      border: none;
      width: 16px;
      height: 16px;
      path {
        &:first-child {
          fill: transparent;
          stroke: var(--gray400);
        }
        &:nth-child(2) {
          stroke: var(--gray400);
        }
        &:last-child {
          fill: var(--gray400);
        }
      }
    }
  }
}

/* 통합발송 미리보기 */
.preview {
  padding: 28px;
  &-title {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
    color: var(--gray700);
  }
}