@use "../../scss/service/base/typography" as typography;

.modal {
  &-dialog {
    border-radius: 24px;
  }
  &-content {
    padding: 0 24px;
    background: #ECEFF2;
    border-radius: 12px;
    &.confirm-modal,
    &.alert-modal {
      width: 684px;
      max-width: 684px;
      background-color: var(--white);
      .modal-title {
        @include typography.font-style(20px, 700, 140%, -0.4px);
        color: var(--grary-900);
      }
      .modal-body {
        padding: 0;
      }
      .desc {
        margin: 0;
        @include typography.font-style(16px, 500, 140%, -0.32px);
        color: var(--grary-500);
      }
      .modal-footer {
        justify-content: end;
      }
    }
  }
  &-header {
    border: none;
    padding: 24px 0 20px;
  }
  &-title {
    width: 100%;
    @include typography.font-style(20px, 700, 28px, -0.02em);
    color: var(--grary-900);
  }
  .title-desc {
    margin: 20px 0 0;
    @include typography.font-style(14px, 700, 140%, -0.28px);
    color: var(--gray500);
    span {
      color: var(--status-failure);
    }
  }
  &-body {
    max-height: 740px;
    padding: 28px;
    background-color: var(--white);
    border-radius: 12px;
    overflow-y: auto;
  }
  &-footer {
    border: none;
    justify-content: center;
    padding: 20px 0 24px;
    .btn {
      min-width: 100px;
      margin: 0;
      & + .btn {
        margin-left: 12px;
      }
    }
  }
  &-xl {
    width: 1159px;
    max-width: 1159px;
  }
  &-lg {
    width: 931px;
    max-width: 931px;
  }
  &-md {
    width: 684px;
    max-width: 684px;
  }
  &-s {
    width: 424px;
    max-width: 424px;
  }
  &-xs {
    width: 384px;
    max-width: 384px;
  }
  &-backdrop {
    background-color: rgba(0, 0, 0, .4);
  }
}

#search-address-modal .modal-dialog {
  width: 955px;
  max-width: 955px;
}