@use "../../scss/service/base/typography" as typography;

/* 목업 화면 미리보기 */
.preview-section,
.preview-section-title {
  padding: 13px 0;
  border-radius: 10.35px;
  background: var(--white);
  text-align: center;
  @include typography.font-style(14px, 400, 140%, -0.28px);
  color: var(--gray700);
  &.talk {
    padding: 0;
    text-align: start;
  }
  &.sms {
    padding: 13px 15px;
    text-align: start;
  }
}
.preview-img {
  min-height: 146px;
  margin-top: 8px;
  padding: 27px 0;
  border-radius: 10.35px;
  background: var(--gray300);
  text-align: center;
  .img-icon {
    width: 40px;
    height: 45px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.preview-avatar {
  width: 60px;
  height: 60px;
  padding: 3px;
  img {
    width: 100%;
    height: 100%;
  }
}

/* 목업 화면 RCS 미리보기 */
.uc-rcs-template-manage .preview-mockup {
  padding-top: 75px !important;
  padding-bottom: 55px !important;
}
.rcs {
  &-title {
    margin: 0;
    padding: 2px 15px 12px;
    text-align: left;
    @include typography.font-style(12px, 400, 160%, -0.24px);
    color: var(--gray600);
  }
  &-content {
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;
    text-align: left;
  }
  &-type {
    display: inline-flex;
    align-items: center;
    .icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: var(--gray100);
      border-radius: 50%;
      svg {
        width: 14px;
        height: 14px;
      }
    }
    span {
      padding-left: 4px;
      @include typography.font-style(14px, 700, 140%, -0.28px);
      color: var(--gray900);
    }
  }
  &-col-content {
    &-title {
      margin: 0;
      @include typography.font-style(14px, 700, 140%, -0.28px);
      color: var(--gray700);
    }
    &-hr {
      margin: 6px 0;
    }
    .row {
      margin-left: -7px;
      margin-right: -7px;
    }
    .col {
      padding-left: 7px;
      padding-right: 7px;
    }
    p:not(.rcs-col-content-title) {
      margin: 0;
      @include typography.font-style(12px, 400, 160%, -0.24px);
      color: var(--gray700);
    }
  }
  &-template-content {
    margin-top: 40px;
    &-title {
      margin:0 0 6px 0;
      @include typography.font-style(14px, 500, 140%, -0.28px);
      color: var(--gray900);
    }
    &-desc {
      margin: 0;
      @include typography.font-style(12px, 400, 160%, -0.24px);
      color: var(--gray700);
    }
  }
  &-thumbnail {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      align-items: center;
      & + li {
        margin-top: 6px;
      }
      .thumb-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-right: 9px;
        border-radius: 6px;
        background: var(--gray200);
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
        p {
          margin: 0;
          @include typography.font-style(12px, 400, 160%, -0.24px);
          color: var(--gray500);
        }
        & ~ p {
          width: calc(100% - 60px - 9px);
          margin: 0;
          @include typography.font-style(12px, 400, 160%, -0.24px);
          color: var(--gray700);
        }
      }
    }
  }
  &-button {
    margin-bottom: 40px;
    .btn {
      width: 100%;
      & + .btn {
        margin-top: 6px;
      }
    }
  }
  .preview-img {
    padding: 0;
    border-radius: 0;
    .empty-img {
      padding: 31px 0;
    }
  }
}

/* 목업 화면 카카오톡 미리보기 */
.talk {
  &-button {
    .btn {
      width: 100%;
    }
  }
  .preview-img {
    min-height: 129px;
    padding: 23px 0 21px;
    border-radius: 0;
  }
  .talk-button button + button {
    margin-top: 6px;
  }
}

/* 목업 슬라이드 */
.preview-slide input[id*="slide"] {
  display: none;
}
.preview-slide .slidewrap {
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  &.lg {
    max-width: 371px;
  }
}
.preview-slide .slidelist {
  white-space: nowrap;
  font-size: 0;
}
.preview-slide ul {
  padding: 0;
  margin: 0;
}
.preview-slide .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .5s;
}
.preview-slide .slidelist > li > a {
  display: block;
  position: relative;
  white-space: wrap;
}
.preview-slide .slidelist label {
  position: absolute;
  z-index: 10;
  top: 500px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 44px;
  height: 44px;
}
.preview-slide .slidelist .left {
  left: 10px;
  background: url(../../../assets/images/service/icon/icon-circle-left.svg) center center / 100% no-repeat;
}
.preview-slide .slidelist .right {
  right: 10px;
  background: url(../../../assets/images/service/icon/icon-circle-right.svg) center center / 100% no-repeat;
}

.preview-slide .slide-control [class*="control"] {display: none;}
.preview-slide [id="slide01"]:checked ~ .slidewrap .control01 {display: block;}
.preview-slide [id="slide02"]:checked ~ .slidewrap .control02 {display: block;}
.preview-slide [id="slide03"]:checked ~ .slidewrap .control03 {display: block;}
.preview-slide [id="slide04"]:checked ~ .slidewrap .control04 {display: block;}
.preview-slide [id="slide05"]:checked ~ .slidewrap .control05 {display: block;}
.preview-slide [id="slide06"]:checked ~ .slidewrap .control06 {display: block;}

.preview-slide input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.preview-slide input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.preview-slide input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.preview-slide input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.preview-slide input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}
.preview-slide input[id="slide06"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-500%);}

.slide-pagelist {
  text-align: center;
  padding: 20px;
}
.slide-pagelist > li {
  display: inline-block;
  vertical-align: middle;
}
.slide-pagelist > li > label {
  display: block;
  padding: 6px 6px;
  border-radius: 30px;
  background: var(--gray200);
  margin: 16px 4px;
  cursor: pointer;
}

.preview-slide input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background: var(--primary300);}
.preview-slide input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background: var(--primary300);}
.preview-slide input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background: var(--primary300);}
.preview-slide input[id="slide04"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(4) > label {background: var(--primary300);}
.preview-slide input[id="slide05"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(5) > label {background: var(--primary300);}
.preview-slide input[id="slide06"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(6) > label {background: var(--primary300);}
