#sidebar {
  flex: 0 0 260px ;
  width: 260px;
  min-height: 100vh;
  transition: all 0.3s;
  background: var(--primary);
  /* 메뉴 닫혔을 때 */
  &.hide {
    flex: 0 0 80px;
    width: 80px;
    overflow: hidden;
    .sidebar-header .logo,
    .menu-list,
    .sidebar-info,
    .sidebar-menu {
      display: none;
    }
  }
  .user-dropdown.b-dropdown.dropdown {
    .dropdown-toggle {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: var(--primary200);
      &::after {
        display: none;
      }
      svg:last-child {
        margin-left: auto;
      }
    }
    .name {
      padding-left: 6px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.28px;
    }
    .dropdown-menu {
      min-width: 212px;
      margin-left: 8px;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid var(--border-color);
      background: var(--white);
      box-shadow: 2px 6px 12px 0px rgba(98, 104, 138, 0.24);
      li {
        padding: 0;
      }
    }
    .dropdown-item {
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.28px;
      color: var(--gray600);
    }
    .dropdown-divider {
      margin: 16px 0;
    }
  }
  .sidebar-header {
    padding: 30px 24px;
  
    .logo {
      padding-left: 12px;
    }
    .btn {
      margin: 0;
      padding: 4px;
  
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .sidebar-info {
    margin-bottom: 32px;
    padding: 16px 24px;
    color: var(--white);
    
    p {
      margin: 0;
      padding: 0 12px 12px;
      font-size: 18px;
      font-weight: 700;
      line-height: 160%; /* 28.8px */
      letter-spacing: -0.36px;
    }
  }
  .sidebar-menu {
    margin: 0;
  
    .menu-title {
      width: 100%;
      padding: 12px 36px;
      background-color: transparent;
      border: none;
      color: #ECEFF2;
      font-size: 14px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.28px;
      text-align: left;
  
      &:disabled {
        opacity: 1;
      }
  
      /* 관리자 메뉴 열었을때 화살표 스타일 */
      &.not-collapsed svg {
        transform: rotate(180deg);
      }
      path {
        stroke: var(--white);
      }
    }
  
    .menu-divider {
      padding: 0 36px;
  
      hr {
        margin: 12px 0;
        border-color: var(--white);
        opacity: .2;
      }
    }
  
    .menu-list {
      display: flex;
      flex-direction: column;
      margin: 6px 0;
      padding: 0 24px;
  
      & > a {
        margin: 2px 0;
      }
    }
  
    .menu-item {
      padding: 12px 36px;
      color: var(--white);
  
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
  
      span {
        font-size: 14px;
        font-weight: 700;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.28px;
        color: var(--white);
      }
  
      // 현재 메뉴일 경우
      &.active {
        background-color: var(--white);
        border-radius: 8px;
        color: #6D6EFA;
  
        span {
          color: var(--gray900);
        }
      }
    }
  }
}