@use "../../scss/service/base/typography" as typography;

.table-responsive {
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.table { 
  margin: 0;
  &-middle {
    th, td {
      vertical-align: middle;
    }
  }
  thead th {
    background-color: var(--gray50);
    border-top: none;
    border-bottom: none;
  }
  tbody {
    tr {
      &:last-child td {
        border-bottom: none;
      }
      &:hover td {
        background-color: var(--gray100);
      }
    }
  }
  th {
    padding: 13px 16px;
    border-color: var(--border-color);
    @include typography.font-style(16px, 500, 140%, -0.32px);
    color: var(--gray900);
  }
  td {
    padding: 17px 16px;
    border-color: var(--border-color);
    @include typography.font-style(16px, 500, 140%, -0.32px);
    color: var(--gray900);
  }
  tr:last-child td {
    border-bottom:  1px solid var(--border-color);
  }
  th {
    .icon-sort {
      margin-left: 2px;
    }
  }
}

.pagination {
  &-list {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-link {
    display: inline-block;
    margin-right: 28px;
    @include typography.font-style(16px, 400, 140%, -0.32px);
    color: var(--gray600);
    text-align: center;
    &.last-link {
      margin-right: 0;
    }
    &.active {
      font-weight: 700;
      color: var(--primary);
    }
    &:hover {
      color: var(--gray600);
      text-decoration: none;
    }
  }
  .btn.btn-arrow {
    padding: 0;
    border: none;
    background-color: #fff;
    &:disabled {
      path {
        stroke: var(--gray300);
      }
    }
    &:active:focus {
      background-color: var(--white);
      border: none;
      box-shadow: none;
    }
    svg{
      width: 16px;
      height: 16px;
    }
    path {
      stroke: var(--gray600);
    }
  }
  .arrow-left {
    margin-right: 20px;
    svg {
      transform: rotate(180deg);
    }
  }
  .arrow-right {
    margin-left: 20px;
  }
}
.sticky-header {
  thead th {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 2;
  }
}