/* tooltip */
.tooltip {
  opacity: 1;
  &-inner {
    max-width: 500px;
    background-color: var(--gray300);
    font-size: 11px;
    color: var(--gray700);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: start;
    }
  }
  .arrow:before {
    border-top-color: var(--gray300);
  }
}
