/* flex */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flexbox-important {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex-direction-row-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-direction: reverse;
  -moz-box-orient: horizontal;
  flex-direction: row-reverse;
}
.flex-direction-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
}
.flex-direction-column-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-direction: reverse;
  -moz-box-orient: vertical;
  flex-direction: column-reverse;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.justify-content-center {
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content-space-between {
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-content-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-content-end {
  -moz-box-pack: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.align-items-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-items-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-items-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: end;
  align-self: flex-end;
}
.flex-1 {
  -moz-box: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-9 {
  -moz-box: 9;
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9;
}
