/* import base */
@use "./base/reset" as *;
@use "./base/common";
@use "./base/typography";
/* import abstracts */
@use "./abstracts/variables" as v;
@use "./abstracts/a11y";
@use "./abstracts/animation";
@use "./abstracts/prefix";
@use "./abstracts/responsive";

.landing-wrapper {
  @include styles;

  // 부트스트랩 override
  &,
  * {
    all: revert;
    box-sizing: border-box;
  }

  height: 100%;
  min-height: 100%;

  // 부트스트랩 주요 클래스 override
  .container,
  .row,
  .col,
  [class^="col-"],
  [class*=" col-"] {
    all: unset !important;
    display: block !important;
  }

  .btn {
    all: unset !important;
    cursor: pointer !important;
    &:hover {
      all: unset !important;
      cursor: pointer !important;
    }
  }
}
