body {
  overflow: auto;

  /* basic setting for simulation */
  &.simulation,
  &.sportsbook {
    scrollbar-base-color: #343d42;
    scrollbar-track-color: #0e1113;
    scrollbar-arrow-color: #0e1113;
    scrollbar-shadow-color: #424a50;
    &::-webkit-scrollbar {
      height: 20px;
    }
    &::-webkit-scrollbar-track-piece {
      background: #0e1113;
    }
    &::-webkit-scrollbar-thumb {
      background: #343d43;
      box-shadow: inset 2px 3px 5px #7f868c;
    }
    &::-webkit-scrollbar-width {
      scrollbar-width: none;
    }
    &::-webkit-resizer-corner {
      width: 30px;
      padding: 20px;
    }
  }

  /* basic setting for lobby */
  &.lobby {
    scrollbar-base-color: #fff;
    scrollbar-track-color: #c8c8c8;
    scrollbar-arrow-color: #c8c8c8;
    scrollbar-shadow-color: #fff;
    &::-webkit-scrollbar {
      height: 44px;
    }
    &::-webkit-scrollbar-track-piece {
      background: #c8c8c8;
    }
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border: 1px solid #c8c8c8;
    }
    &::-webkit-scrollbar-width {
      scrollbar-width: none;
    }
    &::-webkit-resizer-corner {
      width: 30px;
      padding: 20px;
    }
  }
}

/* scrollbar */
.scrollbar {
  scrollbar-base-color: #343d42;
  scrollbar-track-color: #0e1113;
  scrollbar-arrow-color: #0e1113;
  scrollbar-shadow-color: #424a50;
  &::-webkit-scrollbar {
    height: 20px;
  }
  &::-webkit-scrollbar-track-piece {
    background: #0e1113;
  }
  &::-webkit-scrollbar-thumb {
    background: #343d43;
    box-shadow: inset 2px 3px 5px #7f868c;
  }
  &::-webkit-scrollbar-width {
    scrollbar-width: none;
  }
  &::-webkit-resizer-corner {
    width: 30px;
    padding: 20px;
  }
}

/* scrollbar - lobby */
.scrollbar_lobby {
  scrollbar-base-color: #ffffff;
  scrollbar-track-color: #c8c8c8;
  scrollbar-arrow-color: #c8c8c8;
  scrollbar-shadow-color: #ffffff;
  &::-webkit-scrollbar {
    height: 44px;
  }
  &::-webkit-scrollbar-track-piece {
    background: #c8c8c8;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 1px solid #c8c8c8;
  }
  &::-webkit-scrollbar-width {
    scrollbar-width: none;
  }
  &::-webkit-resizer-corner {
    width: 30px;
    padding: 20px;
  }
}

/* scrollbar - transparent */
.scrollbar_transparent {
  &::-webkit-scrollbar {
    width: 0;
    height: 44px;
    background: transparent;
  }
}

// blocking the dialog scrolling
.cdk-global-scrollblock {
  // top: 0 !important;
  left: 0 !important;
}
